body{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 17px;
    font-family: 'Josefin Sans', sans-serif;
    background-image: radial-gradient(circle, #b2eef8, #a3e5ff, #a0d9ff, #abcbff, #bfbbff, #c2b2fb, #c6a8f6, #cb9eef, #b79eee, #a39deb, #8f9ce7, #7b9ae1);
    color: black;
}

.mlink {
    text-decoration: none;
    color: black;
    text-decoration: none;
}

.mlink:hover {
    color: whitesmoke;
    transition: .3s ease-in-out;
}



.heaimage img{
    filter: grayscale(100%);
    cursor: pointer;
    transition: all;
    transition: all .5s ease-in-out;
    border: 4px solid transparent;
}


.heaimage img:hover{
    filter: grayscale(0);
    border: 4px solid #fff;
    transform: scale(1.1);
}

.worring{
    color: white;
    text-align: center;
    font-size: 10px;
}

.shary {
    padding-left: 1px;
    padding-right: 30px;
}

.fota {
    text-align: right;
    padding-right: 40px;
}