body{
    background-color: darksalmon;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 17px;
}
h1{
    font-family: 'Lobster', cursive;
}
h3{
    font-family: 'Lobster', cursive;
    font-size: 23px;
}
h2{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 27px;
}